#main-wrapper
  / Page Preloader
  #preloader
    #status
      .status-mes
  .columns-block.container
    .left-col-block.blocks
      %header.header.theiaStickySidebar
        .profile-img{style: 'display: flex; justify-content: center;'}
          %img.img-responsive.w-75{:alt => "", :src => "#{asset_path('profile.png')}"}/ 
        .content
          %h1 Craig Wallace
          %span.lead Software Engineer
          .about-text
            %p
              Having built rich applications from concept to implementation, I will deliver the enterprise software you envision. Specialized in Ruby on Rails applications, with experience writing software in MUMPS, C#, and Javascript. Architecting scalable programs, from messaging apps, to web and native games, to healthcare data management suites. 
          %ul.social-icon
            %li
              %a{:href => "https://www.facebook.com/craig.wallace.39904?ref=bookmarks"}
                %i.fa.fa-facebook{"aria-hidden" => "true"}
            %li
              %a{:href => "https://www.linkedin.com/in/craig-wallace-67587049/"}
                %i.fa.fa-linkedin{"aria-hidden" => "true"}
      / .header
    / .left-col-block
    .right-col-block.blocks
      .theiaStickySidebar
        %section.expertise-wrapper.section-wrapper.gray-bg
          .container-fluid
            .row
              .col-md-12
                .section-title
                  %h2 Expertise
            / .row
            .row.animated.fadeInDown
              .col-md-6
                .expertise-item
                  %h3 Messaging
                  %p
                    Building out a robust messaging application that was integrated into my CRM for Sungrade Solar allowed me to explore the ActionCable, ActiveJob, and ActionMailer technologies. The messages were created, then broadcast via ActionCable inside the background jobs, so that the application was fast and light. We also created different notifications when steps were completed or messages were sent, and we delivered them via ActionCable as well. Tracking events became trivial, because we created messages on all db changes, which allowed our users to have maximal control over the process. I also used Summernote as the messaging input, allowing users to send files and pictures, and to format their messages like a text document.
              .col-md-6
                .expertise-item
                  %h3 Operational Reporting
                  %p
                    At Epic, I wrote scripts and created reports for large scale hospital systems using M (MUMPS - with a built in database for extremely scalable programs). The major development project I headed created a portal between several databases that our Anesthesia application was using. I also wrote many one-off reporting scripts for the anesthesia IT teams I worked with. At Sungrade, I created flexible reports to show information about customer progress and employee efficiency, as well as a commissions dashboard for employees and contractors to view exact details about their payments.
            .row.animatable.fadeInDown
              .col-md-6
                .expertise-item
                  %h3 Customer Tracking
                  %p
                    An important part of our process at Sungrade was identifying the state of each stage for every customer. We used an observer patten to update models according to a series of logic. Using some meta-programming, admins were able to add requirements easily, and complicated queries could be used to define the requirements for each stage. Additionally, we would map out areas for our surveyors and sales teams, so that they could be routed in the most efficient manner. 
              .col-md-6
                .expertise-item
                  %h3 Files and Dates
                  %p{contenteditable:"true"}
                    In order to allow our users to upload a large variety of different files, we had to create a flexible system. We made the file uploads polymorphic to add to many models, and used Paperclip and S3 for storage. Additionally, since our users frequently had poor reception and had hundreds of files, we integrated plugins to allow chunking and drag & drop directories. 
                    Our users lived across the world, and we wanted to use a date/time picker for improved user experience, so I created a system to recursively check nested parameters and format dates and files.
            .row.animatable.fadeInDown
              .col-md-6
                .expertise-item
                  %h3 Game Development
                  %p
                    As a chemistry and physics teacher, I wanted to engage my students with the material. Using the Unity Engine, and programming in C#, I created a game to learn basic chemistry reations by using chemical weapons to fight monsters, and a game for younger kids to practice math in the deep ocean. The most interesting challenge in these games was the creation of the ever-expanding dictionary of chemical reactions. To make the list of reactions flexible, I created a tool for Unity which could look at the equations and create gameObject cards for each molecule involved. I have also created basic HTML5 canvas games in javascript, including copies of asteroids and snake.  
              .col-md-6
                .expertise-item
                  %h3 Project Management
                  %p
                    Used JIRA, Monday, and ClubHouse to track issues, and Slack and Whatsapp to communicate with team members across the world. I built the Sungrade team, enjoying the interview process, and chose our stack and workflow. I was focused on tailoring our meeting and release schedules to our team, and ensuring everyone was operating at their maximum sustainable efficiency, so we used Agile principles. At Epic, we used internal project management tools, and I lead teams at 3 hospital systems to deliver customized software to their healthcare professionals. As the point person at Epic, I directed the projects, lead the meetings, and escalated issues with the Anesthesia and Optime applications.
               
        / .expertise-wrapper
        %section.section-wrapper.skills-wrapper
          .container-fluid
            .row
              .col-md-12
                .section-title
                  %h2 Skills
            .row
              .col-md-12
                .progress-wrapper
                  .progress-item
                    %span.progress-title Ruby
                    .progress
                      .progress-bar.animatable.moveAcross{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "62", :role => "progressbar", :style => "width: 75%"}
                      %span.progress-percent 75%
                    / .progress
                  / .skill-progress
                  .progress-item
                    %span.progress-title Rails
                    .progress
                      .progress-bar.animatable.moveAcross{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "90", :role => "progressbar", :style => "width: 90%"}
                      %span.progress-percent 90%
                    / /.progress
                  / /.skill-progress
                  .progress-item
                    %span.progress-title Javascript
                    .progress
                      .progress-bar.animatable.moveAcross{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "75", :role => "progressbar", :style => "width: 85%;"}
                      %span.progress-percent 85%
                    / /.progress
                  / /.skill-progress
                  .progress-item
                    %span.progress-title Project Management
                    .progress
                      .progress-bar.animatable.moveAcross{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "75", :role => "progressbar", :style => "width: 75%;"}
                      %span.progress-percent 75%
                  .progress-item
                    %span.progress-title C#
                    .progress
                      .progress-bar.animatable.moveAcross{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "62", :role => "progressbar", :style => "width: 50%"}
                      %span.progress-percent 50%
                  .progress-item
                    %span.progress-title Unity
                    .progress
                      .progress-bar.animatable.moveAcross{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "62", :role => "progressbar", :style => "width: 65%"}
                      %span.progress-percent 65%
                  .progress-item
                    %span.progress-title HTML/CSS/Sass
                    .progress
                      .progress-bar.animatable.moveAcross{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "62", :role => "progressbar", :style => "width: 80%"}
                      %span.progress-percent 80%
                  .progress-item
                    %span.progress-title Mumps
                    .progress
                      .progress-bar.animatable.moveAcross{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "62", :role => "progressbar", :style => "width: 60%"}
                      %span.progress-percent 60%
                    / .progress
                  / .skill-progress
                / /.progress-wrapper
            / .row
          / .container-fluid
        / .skills-wrapper
        %section.section-wrapper.section-experience.gray-bg
          .container-fluid
            .row
              .col-md-12
                .section-title
                  %h2 Work Experience
            / .row
            .row
              .col-md-12
                .content-item.animatable.fadeInDown
                  %small 2017 - 2018
                  %h3 Lead Software Engineer
                  %h4 Sungrade Solar
                  %p Walnut Creek, CA
                / .experience-item
                .content-item.animatable.fadeInDown
                  %small 2016 - 2017
                  %h3 Educational Game Developer
                  %h4 Reaction Learning
                  %p Madison, WI
                / .experience-item
                .content-item.animatable.fadeInDown
                  %small 2016
                  %h3 Technical Problem Solver
                  %h4 Epic Systems
                  %p Madison, WI
                .content-item.animatable.fadeInDown
                  %small 2014 - 2016
                  %h3 Chemistry / Physics Teacher
                  %h4 Collier County Public Schools
                  %p Collier County, FL
                / .experience-item
            / .row
          / .container-fluid
        / .section-experience
        %section.section-wrapper.section-education.animatable.fadeInDown
          .container-fluid
            .row
              .col-md-12
                .section-title
                  %h2 Education
            / .row
            .row
              .col-md-12
                .content-item
                  %small August 2010 - May 2014
                  %h3 BS Biology, minor: Chemistry 
                  %h4 Florida State University
                  %p Tallahassee, FL
            / .row
          / .container-fluid
        / .section-education
        %section.section-wrapper.section-interest.gray-bg
          .container-fluid
            .row
              .col-md-12
                .section-title
                  %h2 Interests
            / .row
            .row
              .profile-img
                %img.img-responsive.w-100.mb-5{:alt => "", :src => "#{asset_path('profile2.jpg')}"}/ 
              .col-md-12
                .content-item.animatable.fadeInDown
                  %h3 Books
                  %p
                    After discovering the wonderful world of audiobooks, I now have a book playing while I am grocery shopping, driving, doing dishes, and working out. A couple books that I have enjoyed recently are "A Connecticut Yankee in King Arthur's Court" by Mark Twain about a time traveler to midevil times, and "Emotional Success: the Power of Gratitude, Compassion, and Pride" by David DeSteno. The latter has been life changing, and is about the benefits of using these 3 emotions to drive our lives, rather than executive functions, because they are more powerful, and create positive feedback loops.
                .content-item.animatable.fadeInDown
                  %h3 Sports
                  %p
                    I play basketball 6-7 days a week, and consider a shoot-around equivalent to meditation. Any challenge is very welcome! I watch a lot of basketball and football, and play fantasy football as well. If you need an extra player for a league, let me know :)
                .content-item.animatable.fadeInDown
                  %h3 Art
                  %p
                    I will jump at any excuse to start a craft or an art project, and love to work with new media. My string art created by hammering nails into a decorated wood piece, then wrapping yarn around the nails in a pattern, turned out well. Painting a Game of Thrones character on a bed sheet for a large wall decoration won a small competition. I would really like to improve my digital artwork skills, but so far it is a work in progress. 
            / .row
        / .section-publications
        / %section.section-wrapper.portfolio-section
        /   .container-fluid
        /     .row
        /       .col-md-12
        /         .section-title
        /           %h2 Portfolio
        /     .row
        /       .col-md-6
        /         %a.portfolio-item{:href => "#"}
        /           .portfolio-thumb
        /             %img{:alt => "", :src => "#{asset_path('portfolio-1.jpg')}"}/
        /           .portfolio-info
        /             %h3 Creative concepts
        /             %small domain.com
        /           / portfolio-info
        /         / .portfolio-item
        /       .col-md-6
        /         %a.portfolio-item{:href => "#"}
        /           .portfolio-thumb
        /             %img{:alt => "", :src => "#{asset_path('portfolio-2.jpg')}"}/
        /           .portfolio-info
        /             %h3 Customer focused
        /             %small domain.com
        /           / portfolio-info
        /         / .portfolio-item
        /       .col-md-6
        /         %a.portfolio-item{:href => "#"}
        /           .portfolio-thumb
        /             %img{:alt => "", :src => "#{asset_path('portfolio-3.jpg')}"}/
        /           .portfolio-info
        /             %h3 Management methodology
        /             %small domain.com
        /           / portfolio-info
        /         / .portfolio-item
        /       .col-md-6
        /         %a.portfolio-item{:href => "#"}
        /           .portfolio-thumb
        /             %img{:alt => "", :src => "#{asset_path('portfolio-4.jpg')}"}/
        /           .portfolio-info
        /             %h3 Market research
        /             %small domain.com
        %section.section-contact.section-wrapper.gray-bg
          .container-fluid
            .row
              .col-md-12
                .section-title
                  %h2 Contact
            / .row
            .row.animatable.fadeInDown
              .col-md-12
                %address
                  %strong Address
                  %br/
                  161 N Civic Dr, Suite 401
                  %br/
                  Walnut Creek, CA 94596
                %address
                  %strong Phone Number
                  %br/
                  +1 239 273 2664
                %address
                  %strong Email
                  %br/
                  %a{:href => "mailto:reactionlearning@gmail.com"} ReactionLearning@gmail.com

            .row.animatable.fadeInDown
              .col-md-12
                .feedback-form
                  %h2 Get in touch
                  = semantic_form_for(@email, html: {class: 'form', id: 'contactForm'}) do |f|
                    .form-group
                      %label Name
                      = f.text_field :name, class: 'form-control'
                    .form-group
                      %label Email address
                      = f.text_field :from, class: 'form-control'
                    .form-group
                      %label Subject
                      = f.text_field :subject, class: 'form-control'
                    .form-group
                      %label Message
                      = f.text_area :message, {rows: 6, class: 'form-control'}
                    .btn.btn-primary#submit_email Submit

                / .feedback-form
          / .container-fluid
        / .section-contact
        %footer.footer
          .copyright-section
            .container-fluid
              .row
                .col-md-12
                  .copytext
                    © Resumex. All rights reserved | Design By:
                    %a{:href => "https://themehippo.com"} themehippo
              / .row
            / .container-fluid
          / .copyright-section
        / .footer
      / Sticky
    / .right-col-block
  / .columns-block

:javascript
  $('#submit_email').click(function(){
    if(blank_field_found()){
      alert('Please fill out all of the fields before submitting')
      return
    }
    $('#contactForm').submit()
    alert('Thank you for getting in touch! I will get back to you as soon as possible.')
    $('#email_name').val('')
    $('#email_from').val('')
    $('#email_subject').val('')
    $('#email_message').val('')
  })

  function blank_field_found(){
    name = $('#email_name').val()
    from = $('#email_from').val()
    subject = $('#email_subject').val()
    message = $('#email_message').val()
    if([name, from, subject, message].indexOf('') > 0){ // a blank is found
      return true
    }
    return false
  }