#main-wrapper
  / Page Preloader
  #preloader
    #status
      .status-mes
  .columns-block.container
    .left-col-block.blocks
      %header.header.theiaStickySidebar
        .profile-img
          %img.img-responsive.w-100{:alt => "", :src => "#{asset_path('profile.jpg')}"}/ 
        .content
          %h1 Craig Wallace
          %span.lead Software Engineer
          .about-text
            %p
              Having studied biology at FSU, taught high school chemistry and physics, worked at Epic Systems on the Anesthesia and Optime applications, created an educational indie game, and built a rich CRM from scratch, I know how to succeed as a versatile team member for a growing company. 
          %ul.social-icon
            %li
              %a{:href => "https://www.facebook.com/craig.wallace.39904?ref=bookmarks"}
                %i.fa.fa-facebook{"aria-hidden" => "true"}
            %li
              %a{:href => "https://www.linkedin.com/in/craig-wallace-67587049/"}
                %i.fa.fa-linkedin{"aria-hidden" => "true"}
      / .header
    / .left-col-block
    .right-col-block.blocks
      .theiaStickySidebar
        %section.expertise-wrapper.section-wrapper.gray-bg
          .container-fluid
            .row
              .col-md-12
                .section-title
                  %h2 Expertise
            / .row
            .row
              .col-md-6
                .expertise-item
                  %h3 Project Management
                  %p
                    Used JIRA, Monday, and ClubHouse to track issues, and Slack and Whatsapp to communicate with team members across the world. I enjoyed tailoring our meeting and release schedules to our team, and ensuring everyone was operating at their maximum sustainable efficiency. At Epic, we used internal project management tools, and I lead teams at 3 hospital systems to deliver customized software to their healthcare professionals. 
              .col-md-6
                .expertise-item
                  %h3 Server-side
                  %p
                    At Epic, I used the M language to write scripts and reports for large scale hospital systems. I primarily lean on my Ruby on Rails experience now to deliver performant software. Building out a robust messaging application that was integrated into my CRM for Sungrade Solar allowed me to explore the ActionCable, ActiveJob, and ActionMailer technologies, as well as gems that add to this base functionality.
            .row
              .col-md-6
                .expertise-item
                  %h3 Front-end
                  %p
                    To design the UX, I have used used Zeplin and Invision. For my personal projects, my workflow is to sketch out the frames in Photoshop or GIMP, then to migrate these designs to Invision, and finally to build a POC that can be tested by users. In Rails, I prefer to deliver server-rendered HTML for 90% of the use cases, with Javascript/jQuery 'sprinkles' to enhance this content. For special cases (such as a calendar with a lot of functionality), I will serve JSON and use React or Vue components to ensure the best user experience on all platforms. Using Turbolinks, we can serve content to iOS and Android users as native applications as well. 
              .col-md-6
                .expertise-item
                  %h3 Problem Solving
                  %p
                    
        / .expertise-wrapper
        %section.section-wrapper.skills-wrapper
          .container-fluid
            .row
              .col-md-12
                .section-title
                  %h2 Skills
            .row
              .col-md-12
                .progress-wrapper
                  .progress-item
                    %span.progress-title Ruby
                    .progress
                      .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "62", :role => "progressbar", :style => "width: 70%"}
                        %span.init-hid.progress-percent 70%
                    / .progress
                  / .skill-progress
                  .progress-item
                    %span.progress-title Rails
                    .progress
                      .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "90", :role => "progressbar", :style => "width: 85%"}
                        %span.init-hid.progress-percent 85%
                    / /.progress
                  / /.skill-progress
                  .progress-item
                    %span.progress-title Javascript
                    .progress
                      .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "75", :role => "progressbar", :style => "width: 65%;"}
                        %span.init-hid.progress-percent 65%
                    / /.progress
                  / /.skill-progress
                  .progress-item
                    %span.progress-title Project Management
                    .progress
                      .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "75", :role => "progressbar", :style => "width: 75%;"}
                        %span.init-hid.progress-percent 75%
                  .progress-item
                    %span.progress-title C#
                    .progress
                      .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "62", :role => "progressbar", :style => "width: 50%"}
                        %span.init-hid.progress-percent 50%
                    / .progress
                  / .skill-progress
                / /.progress-wrapper
            / .row
          / .container-fluid
        / .skills-wrapper
        %section.section-wrapper.section-experience.gray-bg
          .container-fluid
            .row
              .col-md-12
                .section-title
                  %h2 Work Experience
            / .row
            .row
              .col-md-12
                .content-item
                  %small 2015 - Present
                  %h3 Head of market research
                  %h4 Computer &amp; Motor Ltd.
                  %p United Kingdom, London
                / .experience-item
                .content-item
                  %small 2012 - 2015
                  %h3 Media Analyst
                  %h4 BizzNiss
                  %p United Kingdom, London
                / .experience-item
                .content-item
                  %small 2010 - 2012
                  %h3 Budget Administrator
                  %h4 Somsom LLC
                  %p United Kingdom, London
                / .experience-item
            / .row
          / .container-fluid
        / .section-experience
        %section.section-wrapper.section-education
          .container-fluid
            .row
              .col-md-12
                .section-title
                  %h2 Education
            / .row
            .row
              .col-md-12
                .content-item
                  %small August 2010 - May 2014
                  %h3 BS Biology, minor: Chemistry 
                  %h4 Florida State University
                  %p Tallahassee, FL
            / .row
          / .container-fluid
        / .section-education
        %section.section-wrapper.section-interest.gray-bg
          .container-fluid
            .row
              .col-md-12
                .section-title
                  %h2 Interest
            / .row
            .row
              .col-md-12
                .content-item
                  %h3 Books
                  %p
                    After discovering the wonderful world of audiobook, I now have a book playing while I am grocery shopping, driving, doing dishes, and working out. A couple books that I have enjoyed recently are "A Connecticut Yankee in King Arthur's Court" by Mark Twain about a time traveler to midevil times, and "Emotional Success: the Power of Gratitude, Compassion, and Pride" by David DeSteno. The latter has been life changing, and is about the benefits of using these 3 emotions to drive our lives, rather than executive functions, because they are more powerful, and create positive feedback loops.
                .content-item
                  %h3 Sports
                  %p
                    I play basketball 6-7 days a week, and consider a shoot-around equivalent to meditation. Any challenge is very welcome! I watch a lot of basketball and football, and play fantasy football as well. If you need an extra player for a league, let me know :)
                .content-item
                  %h3 Art
                  %p
                    I will jump at any excuse to start a craft or an art project, and love to work with new media. My string art created by hammering nails into a decorated wood piece, then wrapping yarn around the nails in a pattern, turned out well. Painting a Game of Thrones character on a bed sheet for a large wall decoration won a small competition. I would really like to improve my digital artwork skills, but so far it is a work in progress. 
            / .row
        / .section-publications
        %section.section-wrapper.portfolio-section
          .container-fluid
            .row
              .col-md-12
                .section-title
                  %h2 Portfolio
            .row
              .col-md-6
                %a.portfolio-item{:href => "#"}
                  .portfolio-thumb
                    %img{:alt => "", :src => "#{asset_path('portfolio-1.jpg')}"}/
                  .portfolio-info
                    %h3 Creative concepts
                    %small domain.com
                  / portfolio-info
                / .portfolio-item
              .col-md-6
                %a.portfolio-item{:href => "#"}
                  .portfolio-thumb
                    %img{:alt => "", :src => "#{asset_path('portfolio-2.jpg')}"}/
                  .portfolio-info
                    %h3 Customer focused
                    %small domain.com
                  / portfolio-info
                / .portfolio-item
              .col-md-6
                %a.portfolio-item{:href => "#"}
                  .portfolio-thumb
                    %img{:alt => "", :src => "#{asset_path('portfolio-3.jpg')}"}/
                  .portfolio-info
                    %h3 Management methodology
                    %small domain.com
                  / portfolio-info
                / .portfolio-item
              .col-md-6
                %a.portfolio-item{:href => "#"}
                  .portfolio-thumb
                    %img{:alt => "", :src => "#{asset_path('portfolio-4.jpg')}"}/
                  .portfolio-info
                    %h3 Market research
                    %small domain.com
                  / portfolio-info
                / .portfolio-item
            / /.row
        / .portfolio
        %section.section-contact.section-wrapper.gray-bg
          .container-fluid
            .row
              .col-md-12
                .section-title
                  %h2 Contact
            / .row
            .row
              .col-md-12
                %address
                  %strong Address
                  %br/
                  161 N Civic Dr, Suite 401
                  %br/
                  Walnut Creek, CA 94596
                %address
                  %strong Phone Number
                  %br/
                  +1 239 273 2664
                %address
                  %strong Email
                  %br/
                  %a{:href => "mailto:reactionlearning@gmail.com"} ReactionLearning@gmail.com
            / .row
            / .row
            /   .col-md-12
            /     .feedback-form
            /       %h2 Get in touch
            /       %form#contactForm{:action => "sendemail.php", :method => "POST"}
            /         .form-group
            /           %label{:for => "InputName"} Name
            /           %input#InputName.form-control{:name => "name", :placeholder => "Full Name", :required => "", :type => "text"}/
            /         .form-group
            /           %label{:for => "InputEmail"} Email address
            /           %input#InputEmail.form-control{:name => "email", :placeholder => "Email", :required => "", :type => "email"}/
            /         .form-group
            /           %label{:for => "InputSubject"} Subject
            /           %input#InputSubject.form-control{:name => "subject", :placeholder => "Subject", :type => "text"}/
            /         .form-group
            /           %label.control-label{:for => "message-text"} Message
            /           %textarea#message-text.form-control{:name => "message", :placeholder => "Write message", :required => "", :rows => "4"}
            /         %button.btn.btn-primary{:type => "submit"} Submit

            .row
              .col-md-12
                .feedback-form
                  %h2 Get in touch
                  = semantic_form_for(@email, html: {class: 'form', id: 'contactForm'}) do |f|
                    .form-group
                      %label Name
                      = f.text_field :name, class: 'form-control'
                    .form-group
                      %label Email address
                      = f.text_field :from, class: 'form-control'
                    .form-group
                      %label Subject
                      = f.text_field :subject, class: 'form-control'
                    .form-group
                      %label Message
                      = f.text_area :message, {rows: 6, class: 'form-control'}
                    .btn.btn-primary#submit_email Submit

                / .feedback-form
          / .container-fluid
        / .section-contact
        %footer.footer
          .copyright-section
            .container-fluid
              .row
                .col-md-12
                  .copytext
                    © Resumex. All rights reserved | Design By:
                    %a{:href => "https://themehippo.com"} themehippo
              / .row
            / .container-fluid
          / .copyright-section
        / .footer
      / Sticky
    / .right-col-block
  / .columns-block

:javascript
  $('#submit_email').click(function(){
    $('#contactForm').submit()
    alert('Thank you for getting in touch! I will get back to you as soon as possible.')
  })